/* Container */
.container {
  display: grid;
  /* background-color: red; */
}

.popular a {
  display: block;
}

/* Header */
.header {
  display: grid;
  grid-template-areas:
    'full-page';
}

.header img {
  grid-area: full-page;
  background-size: cover;
}


/*SEARCH FORM*/
.search-form {
  font-family: "Poppins", Helvetica, sans-serif;
  background-color: rgb(226, 232, 248);
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 30px;
}

.search-form h2 {
  font-size: 1.3em;
  font-weight: bold;
  margin: 2px;
}

.search-form p {
  font-size: 0.8em;
  color: #6c6c6d;
  font-style: italic;
  padding-bottom: 5px;
  margin: 5px;
}

.search-form input[type=text] {
  width: 420px;
  height: 33px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid #6c6c6d;
}

.search-form input[type=text]::-webkit-input-placeholder {
  color: #6c6c6d;
  text-align: center;
}

.search-form .tombol-cari {
  margin-top: 20px;
  width: 80px;
  height: 30px;
  background-color: orange;
  border-radius: 10px;
  border: 1px solid #6c6c6d;
  cursor: pointer;
}

.search-form .tombol-cari a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 1.1em;
}

.search-form .tombol-cari:hover {
  width: 85px;
  height: 35px;
}


/* Paling Populer */
.populars {
  width: 90%;
  display: grid;
  margin: auto;
  margin-bottom: 50px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-content: space-evenly;
}

.teks-populer {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: 50px 0 35px;
}

.popular {
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.popular p {
  font-size: .8em;
  padding: 2px 0 8px;
}

.popular h4 {
  font-size: .9em;
}

.popular button {
  width: 150px;
  height: 25px;
  margin-top: 5px;
  background-color: white;
  border-radius: 50px;
  color: #0059ff;
  cursor: pointer;
  justify-items: center;
  align-items: center;
  border: 1px solid #0059ff;
}

.popular button:hover {
  font-weight: bold;
  color: #fff;
  background-color: #0059ff;
}

.popular a {
  text-decoration: none;
  color: #0059ff;
}

.popular button:hover a {
  color: white;
}


/* Promo */
.promo {
  display: grid;
  background-color: royalblue;
  grid-template-areas:
    'img-promo img-promo btn-promo';
  padding: 0 20px;
}

.promo .img-promo {
  display: grid;
  grid-area: img-promo;
  grid-template-areas:
    'diskon1 diskon2';
  justify-items: center;
}

.promo img {
  width: 400px;
}

.promo img .diskon1 {
  grid-area: diskon1;
}

.promo img .diskon2 {
  grid-area: diskon2;
}

.promo .div-promo {
  display: grid;
  grid-area: btn-promo;
  align-items: center;
  justify-items: end;
}

.promo .btn-promo {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: orange;
  border-radius: 10px;
  border: 1px solid #6c6c6d;
  cursor: pointer;
}

.promo a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}


/* Service */
.service-bg {
  background-color: rgb(226, 232, 248);
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 0 15px;
  margin-bottom: 50px;
}

.teks-service {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: 50px 0 35px;
}

.service {
  display: grid;
  gap: 5px;
  background-color: white;
  padding: 15px;
  text-align: center;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3);
}

.service .icon {
  font-size: 3em;
}

.service h3 {
  font-size: 1.5em;
}

.service p {
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 0.8em;
}


/* Contact Us */
.contacts {
  display: grid;
  box-sizing: border-box;
  padding: 50px;
  margin-bottom: -50px;

}

.contacts form {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* .short-name {
  display: inline;
} */

.contacts input,
.contacts textarea {
  padding: 12px 20px;
  margin: 0 0 30px;
  display: inline-block;
  border: 1px solid orange;
  border-radius: 4px;
  box-sizing: border-box;
}

.contacts .full-input {
  grid-column: span 2;
}

.contacts h2 {
  text-align: center;
  margin-bottom: 30px;
}

.contacts .btn-contact {
  grid-column: span 2;
  width: 150px;
  background-color: orange;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  justify-items: center;
  align-items: center;
  margin: auto;
  padding: 12px 20px;
  border: 1px solid #ccc;
}



/* Footer */
.footer {
  margin-top: 50px;
  background-color: black;
  color: white;
  text-align: center;
  padding: 35px 0;
  display: grid;
  grid-template-areas:
    'foot-left foot-right foot-right foot-right';
}

.footer ul {
  list-style: none;
  font-size: 0.8em;
  color: #aaa9a9;
}

.foot-left {
  display: grid;
  grid-area: foot-left;
  align-items: center;
  justify-items: center;
}

.foot-left .brand-foot {
  font-weight: bold;
  color: white;
  font-size: 1.8em;
}

.foot-right {
  display: grid;
  grid-area: foot-right;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.foot-left ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.foot-right ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.foot-right .bold-foot {
  font-size: 1em;
  color: white;
  font-weight: bold;
}

@media (max-width: 1024) {
  .promo img {
    width: 250px;
  }
}

@media (max-width: 768px) {
  .promo .img-promo {
    grid-template-columns: 1fr;
    grid-template-areas:
      'diskon1';
  }
}


@media (max-width: 600px) {
  .header {
    z-index: 10;
    margin-top: 30px;
    grid-template-areas:
      'full-page';
  }

  /*Promo Responsive*/
  .promo {
    grid-template-areas:
      'img-promo'
      'btn-promo';
  }

  .promo .div-promo {
    justify-items: center;
    align-items: center;
    margin-bottom: 25px;
  }

  .promo img {
    width: 200px;
  }

  .promo .btn-promo {
    margin-top: 12px;
    width: 180px;
    height: 40px;
  }

  .promo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
  }

  /* Contact Us Responsive */
  .contacts {
    display: grid;
    box-sizing: border-box;
    padding: 50px 20px;
    margin-bottom: -50px;

  }

  .contacts input,
  .contacts textarea {
    padding: 5px 5px;
    margin: 0 0 30px;
    display: inline-block;
    border: 1px solid orange;
    border-radius: 4px;
    box-sizing: border-box;

  }

  .contacts label {
    margin-bottom: -10px;
  }

  .contacts input,
  textarea {
    margin-bottom: 10px;
  }

}